@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}

.landing1 {
    width: 100%;
    position: relative;
}

.text {
    width: 50%;
    height: 100vh;
    background: #bf404c;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.text > img {
    width: 160px;
    position: absolute;
    left: 20%;
    top: 40%;
}

.text > h1 {
    color: #fcfcfc;
    position: absolute;
    left: 20%;
    top: 50%;
    font-size: 70px;
    font-weight: 300;
}

.text > p {
    color: #fcfcfc;
    position: absolute;
    left: 20%;
    top: 79%;
    letter-spacing: 3.5px;
    word-spacing: 3px;
}

.img {
    width: 50%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}

.img > img {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    opacity: .6;
} 

.i1 {
    position: absolute;
    width: 500px;
    top: 12%;
    left: 31%;
}

.landing2 {
    padding: 0 60px;
    margin-top: 80px;
    margin-bottom: 190px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    text-align: center;
    position: relative;
}

.card > img {
    width: 200px;
}

.card > h1 {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 220px;
    margin-left: 110px;
    font-family: 'Trebuchet MS', sans-serif !important;
}

.card > p {
    font-size: 14px;
    font-weight: 300;
    position: absolute;
    top: 260px;
    margin-left: 60px;
    letter-spacing: .5px;
    font-family: 'Open Sans', sans-serif;

}

.card > a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 2px solid #bf404c;
    font-weight: 700;
    position: absolute;
    top: 300px;
    font-family: 'Open Sans', sans-serif;
    padding: 6px 0;
}

.card .z {
    position: absolute;
    left: 170px;
}

.card .k {
    position: absolute;
    left: 490px;
}

.card .r {
    position: absolute;
    left: 795px;
}

.card .i {
    position: absolute;
    left: 1109px;
}

.landing3 {
    width: 100%;
    height: 100vh;
    background-image: url(./images/la3.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.iamg > img {
    width: 550px;
    height: 530px;
    position: absolute;
    top: 30px;
    left: 100px;
}

.txt {
    width: 40%;
    position: absolute;
    top: 100px;
    left: 700px;
}

.txt > h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 300;
}

.txt > h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #bf404c;
    padding: 15px 0;
}

.txt > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: .4px;
    line-height: 26px;
}

p > span {
    padding: 0 12px;
}

.txt > a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 2px solid #bf404c;
    font-weight: 700;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    padding: 6px 0;
    top: 390px;
}

.landing4 {
    width: 100%;
    height: 66vh;
    background-color: #bf404c;
    position: relative;
}

iframe {
    position: absolute;
    width: calc(100% - 510px);
    height: 470px;
    left: 255px;
    top: -66px;
}

.landing5 {
    width: 100%;
    height: 100vh;
    background-image: url(./images/p4.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.txet > h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 100;
    position: absolute;
    top: 190px;
    left: 122px;
}

.txet > h4 {
    color: #bf404c;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    position: absolute;
    top: 263px;
    left: 122px;
}

.txet > p {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 26px;
    position: absolute;
    top: 300px;
    left: 122px;
}

.txet > a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 2px solid #bf404c;
    font-weight: 700;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    padding: 6px 0;
    position: absolute;
    top: 500px;
    left: 122px;
}

.landing6 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.txte > h1 {
    font-family: 'Trebuchet MS', sans-serif !important;
    font-size: 48px;
    font-weight: 300;
    position: absolute;
    top: 160px;
    left: 127px;
}

.txte > h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1.5px;
    color: #bf404c;
    position: absolute;
    top: 235px;
    left: 127px;
}

.txte > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: .4px;
    line-height: 26px;
    position: absolute;
    top: 270px;
    left: 127px;
}

.txte > a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 2px solid #bf404c;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding: 6px 0;
    position: absolute;
    top: 510px;
    left: 127px;
}

.imga > img {
    width: 550px;
    height: 585px;
    position: absolute;
    top: 45px;
    right: 105px;
}

.landing7 {
    width: 100%;
    height: 85vh;
    background-image: url(./images/p5.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.landing7 > h1 {
    color: #fff;
    font-family: 'Trebuchet MS', sans-serif !important;
    font-size: 48px;
    font-weight: 300;
    position: absolute;
    top: 50px;
    left: 490px;
}

h2 {
    color: #fff;
    font-weight: 100;
}

.card10 > img {
    width: 290px;
    position: absolute;
    top: 148px;
    left: 315px;
}

.card10 h2 {
    position: absolute;
    top: 450px;
    left: 390px;
}

.card > img {
    width: 190px;
}

.l2 {
    position: absolute;
    top: 150px;
    left: 700px;
}

.lh2 {
    position: absolute;
    top: 280px;
    left: 730px;
}

.l5 {
    position: absolute;
    top: 150px;
    left: 930px;
}

.lh5 {
    position: absolute;
    top: 280px;
    left: 960px;
}

.l4 {
    position: absolute;
    top: 380px;
    left: 700px;
}

.lh4 {
    position: absolute;
    top: 490px;
    left: 730px;
}

.l3 {
    width: 1px;
    position: absolute;
    top: 350px;
    left: 930px;
}

.lh3 {
    position: absolute;
    top: 490px;
    left: 960px;
}

.landing8 {
    width: 100%;
    height: 90vh;
    background-color: #bf404c;
    position: relative;
}

.landing8 > img {
    width: 200px;
    position: absolute;
    top: 60px;
    left: 580px;
}

.landing8 > h1 {
    color: #fff;
    font-family: 'Trebuchet MS', sans-serif !important;
    font-size: 24px;
    font-weight: 300;
    position: absolute;
    top: 160px;
    left: 450px;
}

h1 > .span {
    position: absolute;
    top: 50px;
    left: 237px;
    color: #fff;
    font-family: 'Trebuchet MS', sans-serif !important;
    font-size: 24px;
    font-weight: 300;
    border-bottom: none;
}

.landing8 > textarea {
    width: calc(100% - 770px);
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    position: relative;
    padding-left: 20px;
}

::-webkit-input-placeholder {
    color: #da8c93;
}

:-ms-input-placeholder {
    color: #da8c93;
}

::-moz-placeholder {
    color: #da8c93;
    opacity: 1;
}

:-moz-placeholder {
    color: #da8c93;
    opacity: 1;
}

.in1 {
    position: absolute;
    top: 260px;
    left: 399px;
    height: 45px;
    resize: none;
    padding-top: 13px;
}

.in2 {
    position: absolute;
    top: 320px;
    right: 184px;
    height: 45px;
    resize: none;
    padding-top: 13px;
}

.in3 {
    height: 120px;
    position: absolute;
    top: 330px;
    left: 399px;
    padding-top: 15px;
}

button {
    position: absolute;
    top: 510px;
    left: 47%;
    padding: 13px 25px;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border: none;
}

.footer {
    width: 100%;
    height: 15vh;
    background: #383434;
    position: relative;
    
}

.footer > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
} 

h1 > span:first-child {
    position: absolute;
    top: 50%;
    left: -32px;
    transform: translate(-50% , -50%);
    color: #d67680;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: .5px solid#d67680;
}

h1 > span {
    position: absolute;
    top: 50%;
    left: 125px;
    transform: translate(-50% , -50%);
    color: #d67680;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: .5px solid#d67680;
}
